@import url('fonts.css');
@import url('colors.css');

html, body {
    background: var(--yeller-50);
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.content{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    z-index: 4;
}

.light-font {
    letter-spacing: 1.2px;
    color: var(--yeller-50);
    transform: scale(1.35, 1.5);
    font-family: 'Helvetica Condensed Black';
    font-size: 5em;
    font-weight: normal;
}

.dark-font {
    letter-spacing: 1.2px;
    color: var(--grsclr-70);
    transform: scale(1.35, 1.5);
    font-family: 'Helvetica Condensed Black';
    font-size: 2em;
    font-weight: normal;
}

.dark-top-rectangle {
    margin-left: auto;
    margin-right: auto;
    height: 170px;
    width: 700px;
    background-image: linear-gradient(to top right, var(--grsclr-90), var(--grsclr-50));
    transform: skew(-13deg, -13deg);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px var(--orangr-60);
    z-index: 5;
}

.light-bottom-rectangle {
    margin-left: auto;
    margin-right: auto;
    margin-top: -3px;
    height: 120px;
    width: 480px;
    color: var(--grsclr-70);
    background-color: var(--grsclr-00);
    background-image: linear-gradient(to top right, var(--grsclr-00), var(--grsclr-00), var(--grsclr-20));
    transform: skew(-13deg, -14deg) translate(50px, 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 25px var(--orangr-60);
    z-index: 4;
}

.dark-line {
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    width: 400px;
    background-color: var(--grsclr-70);
}

.light-line {
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    width: 400px;
    background-color: var(--grsclr-00);
}

.top-top-line {
    margin-bottom: 20px;
    transform: skew(-13deg, -13deg) translate(-120px, 0px);
    z-index: 6;
}

.top-bottom-line {
    margin-bottom: 20px;
    transform: skew(-13deg, -13deg) translate(175px, 0px);
    z-index: 6;
}

.bottom-top-line {
    margin-top: 20px;
    transform: skew(-13deg, -13deg) translate(100px, 0px);
    z-index: 6;
}

.bottom-bottom-line {
    margin-top: 20px;
    transform: skew(-13deg, -13deg) translate(-210px, 0px);
    z-index: 6;
}

.footer {
    position: absolute;
    bottom: 90px;
    left: -50px;
    height: 20px;
    z-index: 7;
}

.footer p {
    font-family: 'Helvetica Local';
    font-size: 1em;
    font-weight: normal;
    color: var(--catplr-60);
    transform: rotate(-90deg);
}

.footer a {
    text-decoration: none;
    color: var(--catplr-90);
}